@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}
.App-title {
  color: white;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.App-subtitle {
  color: white;
  font-size: .8em;
}
.App-version {
  color: white;
  font-size: .8em;
  margin-bottom: .5em;
}
.ant-layout-header {
  height: 48px;
}
.App-intro {
  font-size: large;
}
.ant-table table {
  background: white;
}
.ant-table-thead > tr > th{
  background: #c7e4fb;
}
.btn-link {
  border: none;
  color: #1890ff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}